.caixa-formulario, .caixa-formulario2{
    background-color: white;
    width: 400px;
    color: palevioletred;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-formulario{
    height: 300px;
}

.caixa-formulario2{
    padding: 15px;
    height: 430px;

}

#ipt_conf{
    display: flex;
    flex-direction: row;
}

.caixa-formulario h1{
    font-size: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.formulario2{
    display: flex;
    flex-direction: column;
    width: 200px;
}


.formulario button, .formulario2 button{
    margin-top: 10px;  
    background: rgb(230, 54, 54);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 120px;
    align-self: center;
}

.formulario input{
    padding: 10px 15px;
    text-align: center;
    border: solid 3px rgb(97, 97, 211);
    border-radius: 10px;
    margin-bottom: 5px;
}
